.portfolio-header {
  background-color: #000036;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.portfolio-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-header__logo {
  color: #7562e0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.portfolio-header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.portfolio-header__box a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  font-family: Poppins;
}
.portfolio-header__box a:hover {
  color: #7562e0;
  border-bottom: 1px solid #7562e0;
}

.portfolio-home {
  background-color: #282162;
  padding: 2% 0;
  margin-top: 88px;
}
.portfolio-home__main {
  background-color: #000036;
}
.portfolio-home__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-home__box div {
  max-width: 50%;
}
.portfolio-home__img {
  width: 444px;
  height: 444px;
  border: 10px solid #fcfcfc;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}
.portfolio-home__intro {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.portfolio-home__title {
  color: rgb(245, 245, 245);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 600;
  line-height: 78px;
  margin-bottom: 12px;
}
.portfolio-home__text {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  max-width: 485px;
  margin-bottom: 18px;
}
.portfolio-home__btn {
  padding: 8px 30px;
  border: 1px solid #7562e0;
  background-color: #7562e0;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-home__btn:hover {
  background-color: #000036;
}
.portfolio-home__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.portfolio-home__about {
  background-color: #282162;
  margin: 5% 0;
  padding: 55px 0;
}
.portfolio-home__about__title {
  color: #f5f586;
  font-size: 52px;
  text-align: center;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 20px;
}
.portfolio-home__about__info {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-home__education__title {
  color: #7562e0;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 5px;
}
.portfolio-home__education__level {
  color: #f5f586;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
}
.portfolio-home__education__name {
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.portfolio-home__education__desc {
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 32px;
  width: 60%;
}
.portfolio-home__education__date {
  color: rgb(152, 144, 144);
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.portfolio-home__experience__title {
  color: #7562e0;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 5px;
}
.portfolio-home__experience__level {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
}
.portfolio-home__experience__name {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.portfolio-home__experience__desc {
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 32px;
  width: 60%;
}
.portfolio-home__experience__date {
  color: rgb(152, 144, 144);
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.portfolio-home__skills {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.portfolio-home__skills__title {
  color: #7562e0;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 5px;
}
.portfolio-home__skills span {
  display: inline-block;
  background-color: #7562e0;
  padding: 8px 24px;
  border-radius: 20px;
  color: #fcfcfc;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid transparent;
}
.portfolio-home__skills span:hover {
  background-color: #000036;
  border: 1px solid #7562e0;
}

.portfolio-projects {
  background-color: #282162;
  padding: 2% 0;
  margin-bottom: 5%;
}
.portfolio-projects__title {
  color: #f5f586;
  font-size: 52px;
  text-align: center;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 20px;
}
.portfolio-projects__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-projects__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.portfolio-contact {
  padding: 2% 0;
  margin-bottom: 5%;
}
.portfolio-contact__title {
  color: #f5f586;
  font-size: 52px;
  text-align: center;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 20px;
}
.portfolio-contact__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.portfolio-contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 472px;
}
.portfolio-contact__form input {
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 18px 16px;
  background-color: #282162;
  color: rgb(245, 245, 245);
  font-weight: 500;
  line-height: 24px;
}
.portfolio-contact__form textarea {
  resize: none;
  outline: none;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 8px 20px;
  background-color: #282162;
  color: rgb(245, 245, 245);
}
.portfolio-contact__btn {
  border-radius: 8px;
  background: rgb(117, 98, 224);
  padding: 8px;
  cursor: pointer;
  border: none;
}

.portfolio-footer {
  background-color: #000036;
  padding: 20px 0;
  border-top: 1px solid #7562e0;
}
.portfolio-footer__text {
  color: #fcfcfc;
}
.portfolio-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-footer__tel {
  color: #fcfcfc;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}